body{margin:0;padding:0;overflow:hidden;height:100vh;width:100vw;background-color:#1c1e21}html{overflow:hidden}.timeline-wrapper.svelte-18zkmwr{position:fixed;inset:0;width:100vw;height:100vh;overflow:hidden}
